@import '../../scss/mixin.scss';
@import '../../scss/variable.scss';

.modalWH {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
  &__overlay {
    // position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: scroll;
    background: rgba($color: #000000, $alpha: 0.7);
  }
}

.formWH {
  @include flex-col;
  justify-content: center;
  align-items: center;
  background: white;
  width: 252px;
  padding: 0 16px;
  border-radius: 5px;
  

  @include tablet {
    width: 576px;
    min-height: 412px;
    height: auto;
    padding: 0 48px;
  }

  &__title {
    align-self: flex-start;
    @include h1-mobile;
    margin: 32px 0;

    @include tablet {
      @include h1-web;
    }
  }

  &__container-big {
    width: 100% ;
  }
  &__container {
    @include flex-col;
    justify-content: space-between;
    
    @include tablet {
      flex-direction: row;
    }

  }

  &__label-input {
    @include flex-col;
    width: 100%;

    @include tablet {
      &:first-child{
        width: 216px;
      }
    }
  }
  &__label {
    @include labels;
    color: $text-label-style;
    font-weight: 900;
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  &__input {
    @include paragraph-web;
    color: #5e5d5d;
    padding: 16px;
    height: 48px;
    background-color: $text-field-background-fill;
    border: 1px solid $text-field-border;
    border-radius: 5px;
    margin-bottom: 24px;
  }
  input[type=textarea] {
    height: 80px;
  }
  &__left,
  &__right {
    width: 100%;
    @include tablet {
      width: 50%;
    }
  }
  &__left {
    @include tablet {
      margin-right: 48px;
    }
  }
  &__save {
    @include paragraph-web;
    text-transform: uppercase;
    color: white;
    background: #0065AD;
    padding: 16px 0;
    border: 1px solid #0065AD;
    border-radius: 4px;
    &:hover {
      background: #002F5F;
      border: 1px solid #002F5F;
    }
  }
  &__cancel {
    @include paragraph-web;
    text-transform: uppercase;
    color: #0065AD;
    background: white;
    padding: 16px 0;
    border: none;
    border-radius: 4px;
  }
}