@import '../scss/fonts.scss';
@import '../scss/mixin.scss' ;
@import '../scss/variable.scss';

html{
    box-sizing: border-box;

    /* This may have to be deleted later */
    margin-left: 16px;
    margin-right: 16px;

    @include tablet {

    margin-left: 24px;
    margin-right: 24px;
    }
}

*, *::before, *::after {
    box-sizing: inherit;
}

.inventory{

    &__page-title{
        @include h1-web;
        margin-top: 32px;
        margin-bottom: 16px;
    }

    &__container-for-title-search-bar{
    
    @include tablet{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    }
    }

    &__search-bar{
        display: flex;
        flex-direction: row;
        height: 53px;
        width: 85%;
        border-radius: 8px;
        border: 2px solid $text-field-border;
        background-color: $text-field-background-fill;
        margin-bottom: 48px;

        @include tablet {
            width: 40%;
            margin-top: 25px;
            margin-bottom: 0;
        }
    }

    &__search-icon{
        margin-right: 5px;
        margin-left: 10px;
    }

    &__search-field{
        display: flex;
        justify-self: center;
        align-self: center;
        color: black;
    }
}