@import '../../scss/mixin.scss';
@import '../../scss/variable.scss';

.warehouse-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 16px;
    @include tablet(){
        margin: 0 24px;
    }

    &__top{
        width: 100%;
        display: flex;
        max-width: 1080px;
    }

    &__name{
        @include h1-mobile();
        margin-left: 16px;
        @include tablet(){
            @include h1-web();
        }
    }
    &__ruler{
        @include tablet(){
        width: 100%;
        height: 1px;
        opacity: 0.5;
        background-color: #323232;
        margin: 24px;
        max-width: 1080px;
        }
    }  

    &__content{
        @include paragraph-mobile();
        width: 100%;
        display: flex;
        flex-direction: column;
        @include tablet(){
            @include paragraph-web();
            flex-direction: row;
            justify-content: space-between;
            max-width: 1080px;
        }
    }
    &__content-left,&__content-right{
        @include tablet(){
            width: 50%;
        }
    }

    &__label{
        text-transform: uppercase;
        opacity: 0.3;
        margin-bottom: 8px;
        margin-top: 16px;
    }

    &__info:nth-of-type(3){
        margin-bottom: 16px;
    }

    &__product-wrapper{
        display: flex;
        justify-content: center;
        width: 100vw;
        margin-top: 40px;
        background-color: #fafafa;
    }
    &__product-container{
        margin: 0 16px;
        margin-top: 24px;
        width: 100%;
        max-width: 1080px;
        @tablet(){
            margin: 0 24px;
        }
    }
}