@import '../scss/fonts.scss';
@import '../scss/mixin.scss' ;
@import '../scss/variable.scss';

$default-spacing: 16px;
$default-spacing-between-elements: 24px;

html{
    box-sizing: border-box;

    /* This may have to be deleted later */
    margin-left: 16px;
    margin-right: 16px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.inventoryData{

    &__sub-container{
        margin-bottom: $default-spacing-between-elements;
        display: flex;
        flex-direction: column;
        border-bottom:lightgrey 2px solid;
    }

    &__product-name-label{
    margin-bottom: $default-spacing;
    font-weight: bold;
    }
    &__label{
        margin-bottom: $default-spacing;
        color: $text-label-style;
    }

    &__item-container{
        margin-bottom: $default-spacing-between-elements;
    }
    &__location-container{
        margin-top: $default-spacing-between-elements;
    }
    &__quantity-container{
        margin-top: $default-spacing-between-elements;
    }
    &__status-container{
        margin-top: $default-spacing-between-elements;
    }

    &__ellipsisMenu-btn{
        display: flex;
        align-self: flex-start;
        justify-self: flex-start;
        float: right;
    }
}


