@import '../scss/fonts.scss';
@import '../scss/mixin.scss' ;
@import '../scss/variable.scss';
    

.inventoryData{


    &__container{
    margin-left: 16px;
    margin-right: 16px;

        @include tablet {
            display: flex;
            flex-direction: column;
            margin-left: 24px;
            margin-right: 24px;
        }

        @include desk-plus{
            margin-left: 130px;
            margin-right: 130px;
        }
    }

    &__sub-container{
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        border-bottom:lightgrey 2px solid;

        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-bottom: 24px;
        }
    }

    &__product-name-label{
    margin-bottom: 16px;
    font-weight: bold;
    }

    &__label{
        margin-bottom: 16px;
        color: $text-label-style;

        @include tablet {
            visibility: hidden;
        }
    }

    &__item-container{
        margin-bottom: 24px;
        @include tablet {
            width: 20%;
            margin: 0px;
        }
    }
    &__last-ordered-container{
        margin-top: 24px;
        @include tablet {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;
            margin: 0px;
        }
    }
    &__location-container{
        margin-top: 24px;
        @include tablet {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15%;
            margin: 0px;
            
        }
    }
    &__quantity-container{
        margin-top: 24px;
        @include tablet {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15%;
            margin: 0px;
        }
    }
    
    &__status-container{
        margin-top: 24px;
        margin-bottom: 24px;
        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 20%;
            margin: 0px;
        }
    }

    &__ellipsisMenu-btn{
        display: flex;
        align-self: flex-start;
        justify-self: flex-start;
        float: right;

        @include tablet { 
        visibility: hidden;
        }
    }
    &__blue-circle{
        position: fixed;
        margin-left: 200px;
        margin-top: 330px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $primary-cta-text-link;
        border-radius: 50%;
        height: 60px;
        width: 60px;

        @include tablet {
        margin-left: 600px;
        margin-top: 400px;
        }

        @include small-laptop(){
        margin-left: 800px;
        margin-top: 600px;
        }

        @include desk-plus{
            margin-left: 1000px;
            margin-top: 700px;
        }

    }

    &__plus-icon{
        text-align: center;
    }

    &__ellipsis-tablet-style{
        @include mobile{
            visibility: hidden;
        }
        @include tablet {
        visibility: visible;
        display: flex;
        align-self: center;
        justify-self: center;
        float: right;
        }
    }

    /* Hide Visibility in CSS for containers */

    &__item-title-container{
        @include tablet{
        visibility: hidden;
        }
    }

    &__last-ordered-title-container{
        @include tablet{
            visibility: hidden;
            }
    }

    &__location-title-container{
        @include tablet{
            visibility: hidden;
            }
    }

    &__quantity-title-container{
        @include tablet{
            visibility: hidden;
            }
    }

    &__status-title-container{
        @include tablet{
            visibility: hidden;
            }
    }

    &__status-txt{
        @include tablet{
            margin-right: 20px;
        }
    }

    &__label-container-tablet{
        visibility: hidden;

        @include tablet{
            visibility: visible;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 16px;
            color: $text-label-style;
        }
    }

    &__label-tablet-item{
        @include tablet{
            width: 20%;
        }
    }

    &__label-tablet-last-ordered{
        @include tablet{
            width: 30%
        }
    }

    &__label-tablet-location{
        @include tablet{
            width: 15%
        }
        @include desk-plus {
            margin-left: -40px;
        }
    }

    &__label-tablet-quantity{
        @include tablet{
            width: 15%
            
        }
    }

    &__label-tablet-status{
        @include tablet{
            width: 20%;
        }
    }

    &__label-container-tablet-plus{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 65%;
    
    }

}




