@import '../../scss/mixin.scss';

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.modal-form__overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.7)
}
.modal-form{
    display:flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    width: 252px;
    padding: 0 16px;
    @include tablet(){
        width: 576px;
        height: 624px;
        padding: 0 48px;
    }
    &__status{
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__title{
        @include h1-mobile();
        margin: 32px 0;
        @include tablet(){
            @include h1-web();
        }
    }
    &__container{
        @include tablet(){
            display: flex;
        }
    }
    &__left{
        @include tablet(){
            margin-right: 40px;
        }
    }
    &__input-container{
        display: flex;
        flex-direction: column;
        width: 220px;
    }
    &__label{
        @include labels();
        font-weight: 900;
        opacity: 0.5;
        margin-bottom: 8px;
        text-transform: uppercase;
    }
    &__label--status{
        color: black;
        font-weight: 300;
        opacity: 1;
    }
    &__input{
        text-indent: 16px;
        height: 48px;
        border: 1px solid #e1e1e1;
        background-color: #fafafa;
        border-radius: 5px;
        margin-bottom: 24px;
    }
    &__input--description{
        text-indent: 0;
        padding: 8px 16px;
        height: 80px;
        @include tablet(){
            width: 480px;
        }
    }
    &__input:focus {
        outline: none;
        border: 1px solid #323232;
    }
}