@import "../scss/fonts.scss";
@import "../scss/mixin.scss";
@import "../scss/variable.scss";

.warehouse{
  
  &__wrapper {
    background: white;
    padding: 5%;
  }

  &__back {
    display: flex;
    @include tablet {
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $text-field-border;
    }
  }
  &__large-title{
    @include h1-mobile;
    color: $paragraph-text;
    text-transform: capitalize;
    margin-left: 15px;

    @include tablet {
      @include h1-web;
    }
  }
  &__container {
    @include flex-col;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      width: 70%;
    }
  }

  &__title{ 
    @include h3-web;
    color: $text-label-style;
    text-transform: uppercase;
    margin-top: 0.8rem;
    @include tablet {
      margin-top: 1.5rem;
    }
  }

  &__detail{
    @include paragraph-web;
    color: $paragraph-text;
    // @include tablet {
    //   @include 
    // }
  }

  &__detail-subtitle {
    font-style: italic;
    @extend .warehouse__detail

  }
  &__title-div {
    margin-top: 0.3rem;

  }
  &__subtitle-div {
    margin-top: 1rem;
  }
}

.inventory {
  background:$text-field-background-fill;

  &__warpper {
    padding: 5%;
  }
  &__item {
    @include flex-col;
    list-style-type: none;
    
  }

  &__top-category {
    display: none;

    @include tablet {
      display: flex;
      & .inventory__category-title {
        width: 30%;
      }
    }
  }
  &__separation {
    width: 70%;
    @include flex-col;

    @include tablet {
      flex-direction: row;
      & .inventory__category-title,
      & .inventory__detail {
        width: 21.6%;
      }
      & .inventory__category-title:first-child,
      & .inventory__detail:nth-child(2) {
        width: 30%;
      }
      & .inventory__category-title:nth-child(2),
      & .inventory__detail:nth-child(4) {
        width: 26%;
      }
    }
  }
  &__category-title {
    @include h3-web;
    color: $text-label-style;
    text-transform: uppercase;

  }
  
  &__info {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid $text-field-border;
    @include tablet {
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  }

  &__remove {
    display: flex;
    justify-content: space-between;
    
    @include tablet {
      order: 5; // put it to the end
      width: 5px;
    }
  }
  &__product-box {
    @include flex-col;
    
    @include tablet {
      // flex-direction: row;
      width: 30%;
      padding-right: 15px;
    }
  }
  &__category {
    @include h3-web;
    color: $text-label-style;
    text-transform: uppercase;

    @include tablet {
      display: none;
    }
  }

  &__title {
    @include h2-mobile;

    @include tablet {
      
    }
  }

  &__detail {
    @include paragraph-web;
    color: $paragraph-text;
    text-overflow: ellipsis;
  }
}