$paragraph-text: #323232;
$text-label-style: #afafaf;
$text-field-border: #e1e1e1;
$text-field-background-fill: #fafafa;
$nav-background: #323232;
$primary-cta-hover: #002F5F;
$primary-cta-text-link: #004892;
